<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456606993516-7cetg1pj6bfmjqaphqcgppn50a99ba38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456606993516-7cetg1pj6bfmjqaphqcgppn50a99ba38</string>
	<key>API_KEY</key>
	<string>AIzaSyC_tAjtbvDZ82ioLwrSWK4P7knugu-5ypY</string>
	<key>GCM_SENDER_ID</key>
	<string>456606993516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.ylab.FirebaseSNSSample</string>
	<key>PROJECT_ID</key>
	<string>swift-firebase-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-firebase-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456606993516:ios:11b163a177c9baa5</string>
	<key>DATABASE_URL</key>
	<string>https://swift-firebase-sample.firebaseio.com</string>
</dict>
</plist>